<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>OpenCloud About Me</title>
</head>

<body>

    {{>header}}
    <div class="about-container">
        <img src="./img/me.jpg" class="portrait">
        <p class="about-text">Hi, my name is Aleksandar and I'm an aspiring web developer. I love building things from
            scratch and solving problems.</p>
    </div>
    {{>footer}}
</body>

</html>