<header>
    <div class="main">
        <h1>{{title}}</h1><i class="fas fa-poo-storm"></i>
    </div>

    <div class="links">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Contact</a>
    </div>
</header>