@media(max-width: 600px) {
    .main-container {
        display: flex;
        flex-direction: column;
        background: green;
    }

    .title {
        margin-top: 1rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .main i {
        display: none;
    }

    .links {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .links a {
        font-size: 1rem;
    }

    .lead-text {
        font-size: 1rem;
    }

    .results {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .results p {
        font-size: 0.80rem;
        max-width: 300px;
    }

    .forecast {
        font-size: 0.8rem;
    }

    #form {
        display: flex;
        justify-content: center;
    }

    #form input {
        height: 15px;
        width: 25%;
        font-size: 0.8rem;
    }

    #form button {
        height: 25px;
        font-size: 1rem;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 2px;
    }

    .footer {
        font-size: 0.6rem;
    }

    .footer .copyright {
        font-size: 1rem;
    }

    /*About page*/
    .about-container {
        display: flex;
        flex-direction: column;
    }

    .about-container img {
        margin-left: 4rem;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-container .about-text {
        max-width: 150px;
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin: auto;
        position: absolute;
    }

    .help-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        margin: auto;
        font-size: 1rem;
        padding-top: 3rem;
    }

}