@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    color: #fff;
    background: #333333;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.main-content {
    max-height: 500px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 80px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main i {
    margin-left: 2rem;
    margin-top: 4rem;
    font-size: 5.5rem;
    color: slategray;
}



/*About Section*/
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.portrait {
    width: 150px;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    padding: 5px 30px;
}

.about-text {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-right: 17rem;
    font-size: 1.3rem;
}

.portrait:hover {
    transform: scale(1.3);
    transition: all 0.5s ease;
}

/*Help Message*/
.contact-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

footer {
    display: flex;
    justify-content: center;
    color: #f4f4f4;
    border-top: 1px solid #888888;
    margin: auto;
    padding: 5px 0;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .copyright {
    font-size: 1.4rem;
}


.links {
    max-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: auto;
    padding: 10px 20px;
}

.lead-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.links a:hover {
    color: slategrey;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form input{
    width: 30%;
    height: 20px;
    outline: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    border: 1px solid #000;
}

#form button {
    height: 31px;
    background: rgb(87, 87, 87);
    border: none;
    color: #fff;
    font-size: 1.2rem;
    outline: none;
}

#form button:hover {
    border: 1px solid rgb(29, 29, 29);
    background: #333;
    color: steelblue;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    line-height: 2;
}

.results p {
    font-size: 1.3rem;
}